<%- include('partials/header'); -%>

<link type="text/css"
            rel="stylesheet"
            href ="css/calendar.css" />


<header>
    <h1 >Calendar App</h1>
</header>

<button id="view-button"><a id="addLink" href="/weekCalendar">Weekly</a></button>


<section>
  <dialog id="eventDialog">
      <form id="form-event" method="post">
        <h2 id="dialogEventTitle"></h2>
        <p id="dialogEventDate"></p>
        <p id="dialogEventLocation"></p>
        <p id="dialogEventID" style="visibility:hidden"></p>
        <ul id="dialogEventParticipants"></ul>
        <button value="close">X</button>
        <button id="delete-button" type="submit">🗑️</button>     <!-- non funziona -->
      </form>
  </dialog>
  <article>
      <h2 class="month" id="currentMonth"></h2>
      <button id="prevMonthButton" class="changeMonth" >&lt;</button>
      <button id="nextMonthButton" class="changeMonth" >&gt;</button>
      <div class="calendar">
          <div class="header">S</div>
          <div class="header">M</div>
          <div class="header">T</div>
          <div class="header">W</div>
          <div class="header">T</div>
          <div class="header">F</div>
          <div class="header">S</div>

          <div class="day">
            <button></button>
          </div>
          <div class="day">
            <button></button>
          </div>
          <div class="day">
            <button></button>
          </div>
          <div class="day">
            <button></button>
          </div>
          <div class="day">
              <button></button>
          </div>
          <div class="day">
              <button></button>
          </div>
          <div class="day">
              <button></button>
          </div>
          <div class="day">
              <button></button>
          </div>
          <div class="day">
              <button></button>
          </div>
          <div class="day">
              <button></button>
          </div>
          <div class="day">
              <button></button>
          </div>
          <div class="day">
              <button></button>
          </div>
          <div class="day">
              <button></button>
          </div>
          <div class="day">
              <button></button>
          </div>
          <div class="day">
              <button></button>
          </div>
          <div class="day">
              <button></button>
          </div>
          <div class="day">
              <button></button>
          </div>
          <div class="day">
              <button> </button>
          </div>
          <div class="day">
              <button></button>
          </div>
          <div class="day">
              <button></button>
          </div>
          <div class="day">
              <button></button>
          </div>
          <div class="day">
              <button></button>
          </div>
          <div class="day">
              <button></button>
          </div>
          <div class="day">
              <button></button>
          </div>
          <div class="day">
              <button> </button>
          </div>
          <div class="day">
              <button></button>
          </div>
          <div class="day">
              <button></button>
          </div>
          <div class="day">
              <button></button>
          </div>
          <div class="day">
              <button></button>
          </div>
          <div class="day">
              <button></button>
          </div>
          <div class="day">
              <button></button>
          </div>
          <div class="day">
              <button></button>
          </div>
          <div class="day">
              <button></button>
          </div>
          <div class="day">
              <button></button>
          </div>
          <div class="day">
              <button></button>
          </div>
        
        <div class="day" id="sixth">
            <button></button>
        </div>
        <div class="day" id="sixth">
            <button></button>
        </div>
        <div class="day" id="sixth">
            <button></button>
        </div>
        <div class="day" id="sixth">
            <button></button>
        </div>
        <div class="day" id="sixth">
            <button></button>
        </div>
        <div class="day" id="sixth">
            <button></button>
        </div>
        <div class="day" id="sixth">
            <button></button>
        </div>
      </div>
  </article>
  <div>
    <button id="addButton"><a id="addLink" href="/compose">Add Event</a></button>
  </div>
</section>
<script src="scripts/calendar.js" type="text/javascript"></script>



<%- include('partials/footer'); -%>
