<%- include('partials/header'); -%>

<link rel="stylesheet" href="css/base.css" type="text/css">

<!-- Display username in greeting -->
<h1>Home</h1>
<p>Hi, <%= username %>!</p>
<p><%= content %></p>

<%- include('partials/footer'); -%>
