<%- include('partials/header'); -%>

<link rel="stylesheet" 
            href="css/pomodoro.css"
            type="text/css" />

<div class="pomodoro-container">
  <h1>Timer Pomodoro</h1>
  <div id="timer-status">Loading</div>
  <div id="timer-display">25:00</div>
  <button id="start-timer">Start</button>
  <button id="pause-timer">Pause</button>
  <button id="stop-timer">Stop</button>
</div>

<script src="/scripts/pomodoro.js"></script>

<%- include('partials/footer'); -%>