<%- include('partials/header'); -%>

<!-- <link type="text/css"
            rel="stylesheet"
            href ="../public/style.css" /> -->

<div class="pomodoro-container">
  <h1>Timer Pomodoro</h1>
  <div id="timer-display">25:00</div>
  <button id="start-timer">Start</button>
  <button id="pause-timer">Pause</button>
  <button id="stop-timer">Stop</button>
</div>

<script src="/scripts/pomodoro.js"></script>

<%- include('partials/footer'); -%>